{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="POST" action="{{ url_for('add_data') }}">
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">
                        Email address
                    </label>
                    <input 
                        type="email" 
                        class="form-control" 
                        name="input_email" 
                        id="InputEmail" 
                        aria-describedby="emailHelp" 
                        required>
                    <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="InputHeight" class="form-label">
                        Height in cm
                    </label>
                    <input 
                        type="number"
                        name="input_height"
                        class="form-control"
                        min="50"
                        max="300"
                        step="0.1"
                        id="InputHeight"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit <i class="fas fa-plus-square right"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
